.post-content pre .hll { background-color: #ffffcc }
/*.post-content pre  { background: #f8f8f8; }*/
.post-content pre .c { color: #8f5902; font-style: italic } /* Comment */
.post-content pre .err { color: #a40000; border: 1px solid #ef2929 } /* Error */
.post-content pre .g { color: #000000 } /* Generic */
.post-content pre .k { color: #204a87; font-weight: bold } /* Keyword */
.post-content pre .l { color: #000000 } /* Literal */
.post-content pre .n { color: #000000 } /* Name */
.post-content pre .o { color: #ce5c00; font-weight: bold } /* Operator */
.post-content pre .x { color: #000000 } /* Other */
.post-content pre .p { color: #000000; font-weight: bold } /* Punctuation */
.post-content pre .cm { color: #8f5902; font-style: italic } /* Comment.Multiline */
.post-content pre .cp { color: #8f5902; font-style: italic } /* Comment.Preproc */
.post-content pre .c1 { color: #8f5902; font-style: italic } /* Comment.Single */
.post-content pre .cs { color: #8f5902; font-style: italic } /* Comment.Special */
.post-content pre .gd { color: #a40000 } /* Generic.Deleted */
.post-content pre .ge { color: #000000; font-style: italic } /* Generic.Emph */
.post-content pre .gr { color: #ef2929 } /* Generic.Error */
.post-content pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.post-content pre .gi { color: #00A000 } /* Generic.Inserted */
.post-content pre .go { color: #000000; font-style: italic } /* Generic.Output */
.post-content pre .gp { color: #8f5902 } /* Generic.Prompt */
.post-content pre .gs { color: #000000; font-weight: bold } /* Generic.Strong */
.post-content pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.post-content pre .gt { color: #a40000; font-weight: bold } /* Generic.Traceback */
.post-content pre .kc { color: #204a87; font-weight: bold } /* Keyword.Constant */
.post-content pre .kd { color: #204a87; font-weight: bold } /* Keyword.Declaration */
.post-content pre .kn { color: #204a87; font-weight: bold } /* Keyword.Namespace */
.post-content pre .kp { color: #204a87; font-weight: bold } /* Keyword.Pseudo */
.post-content pre .kr { color: #204a87; font-weight: bold } /* Keyword.Reserved */
.post-content pre .kt { color: #204a87; font-weight: bold } /* Keyword.Type */
.post-content pre .ld { color: #000000 } /* Literal.Date */
.post-content pre .m { color: #0000cf; font-weight: bold } /* Literal.Number */
.post-content pre .s { color: #4e9a06 } /* Literal.String */
.post-content pre .na { color: #c4a000 } /* Name.Attribute */
.post-content pre .nb { color: #204a87 } /* Name.Builtin */
.post-content pre .nc { color: #000000 } /* Name.Class */
.post-content pre .no { color: #000000 } /* Name.Constant */
.post-content pre .nd { color: #5c35cc; font-weight: bold } /* Name.Decorator */
.post-content pre .ni { color: #ce5c00 } /* Name.Entity */
.post-content pre .ne { color: #cc0000; font-weight: bold } /* Name.Exception */
.post-content pre .nf { color: #000000 } /* Name.Function */
.post-content pre .nl { color: #f57900 } /* Name.Label */
.post-content pre .nn { color: #000000 } /* Name.Namespace */
.post-content pre .nx { color: #000000 } /* Name.Other */
.post-content pre .py { color: #000000 } /* Name.Property */
.post-content pre .nt { color: #204a87; font-weight: bold } /* Name.Tag */
.post-content pre .nv { color: #000000 } /* Name.Variable */
.post-content pre .ow { color: #204a87; font-weight: bold } /* Operator.Word */
.post-content pre .w { color: #f8f8f8; text-decoration: underline } /* Text.Whitespace */
.post-content pre .mf { color: #0000cf; font-weight: bold } /* Literal.Number.Float */
.post-content pre .mh { color: #0000cf; font-weight: bold } /* Literal.Number.Hex */
.post-content pre .mi { color: #0000cf; font-weight: bold } /* Literal.Number.Integer */
.post-content pre .mo { color: #0000cf; font-weight: bold } /* Literal.Number.Oct */
.post-content pre .sb { color: #4e9a06 } /* Literal.String.Backtick */
.post-content pre .sc { color: #4e9a06 } /* Literal.String.Char */
.post-content pre .sd { color: #8f5902; font-style: italic } /* Literal.String.Doc */
.post-content pre .s2 { color: #4e9a06 } /* Literal.String.Double */
.post-content pre .se { color: #4e9a06 } /* Literal.String.Escape */
.post-content pre .sh { color: #4e9a06 } /* Literal.String.Heredoc */
.post-content pre .si { color: #4e9a06 } /* Literal.String.Interpol */
.post-content pre .sx { color: #4e9a06 } /* Literal.String.Other */
.post-content pre .sr { color: #4e9a06 } /* Literal.String.Regex */
.post-content pre .s1 { color: #4e9a06 } /* Literal.String.Single */
.post-content pre .ss { color: #4e9a06 } /* Literal.String.Symbol */
.post-content pre .bp { color: #3465a4 } /* Name.Builtin.Pseudo */
.post-content pre .vc { color: #000000 } /* Name.Variable.Class */
.post-content pre .vg { color: #000000 } /* Name.Variable.Global */
.post-content pre .vi { color: #000000 } /* Name.Variable.Instance */
.post-content pre .il { color: #0000cf; font-weight: bold } /* Literal.Number.Integer.Long */
